body{
    font-family: Arial, Helvetica, sans-serif;
    /* diameter of the circle */
    --d: 4px; 
    
    background : radial-gradient(
      circle at 
         var(--d) 
         var(--d), 
         
      #e0d8d8 calc(var(--d) - 1px), 
      #00000000 var(--d)
    ) 
    0 0 / 50px 50px;
 }
h1{ 
    color: black;
    padding: 0;
    font-size: 4rem;
    text-shadow: -5px 0 1px rgb(77, 169, 175), -10px 0 1px rgb(115, 179, 86),-17px 0 1px rgb(223, 102, 80);
}
#titleDiv{
    width: 1150px;
    height: 250px;
    background-color: #FAFAFA;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: darkslategrey 4px dashed;
}
#blochsphere{
    border: none;
    outline: none;
}
.textBox{
    width: 1150px;
    background-color: #FAFAFA;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px 0;
    border: darkslategrey 4px dashed;
}
.textBox > div{
    padding-left: 20px;
}
.rainbow{
    animation: rainbow 5s;
    animation-iteration-count: infinite;
    font-weight: bold;
    color: rgb(255, 0, 234);
    font-style: italic;

}
@media only screen and (max-width: 600px) {
    .textBox > div{
        background: red;
        font-size: 4em;
    }
    .textBox > h2{
        font-size: 5em;
    }
    .textBox img{
        width: 50vw;
    }
}

@keyframes rainbow {
    from {color: rgb(255, 0, 234);}
    to {filter: hue-rotate(360deg)}
  }

#clickMe{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}
#allContainer{
    margin: 0 auto;
    perspective: 5000px;
    width: 1150px;
}
#boxToFlip{
  position: relative;
  width: 1150px;
  height: 280px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#frontface, #backface{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the back side */
#backface{
    color: white;
    transform: rotateY(180deg);
}

#backBtn{
    top: 15px;
    position: absolute;
    cursor: pointer;
    width: 70px;
}
#socials{
    padding-top: 30px;
    color: black;
    height: 100%;
}
#socials >img{
    cursor: pointer;
}
#socials > img:hover{
    transform: scale(120%);
}